div {
    margin-bottom: 10px;
}

label {
    display: inline;
    width: 100px;
}

.background {
    margin: 30px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 40%;
    outline: none;
    border:1px solid #000000;
    border-radius:5px;
}

output {
    width: 40%;
    outline: none;
    border:1px solid #000000;
    border-radius:5px;
}

button {
    color: aliceblue;
    background-color: #0a53f0;
    border: 3px solid rgb(132, 171, 229);
    border-radius: 5px;
}